.App {
  text-align: center;
}

body {
  background-color: rgb(20, 20, 20);
}

.fixed {
  position: fixed;
  bottom: -5px;
  right: -10px;
  /* z-index: -1; */
  /* transition: transform 1s; */
}

.globe-container {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  /* z-index: 100; */
  /* transform-origin: bottom right; */
}

.globe-container {
  transform-origin: bottom right;
  transition: transform .5s;
}

.globe-container:hover {
  transform: scale(2.0);
  transition: transform .5s;
}

.cityLabel {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: white;
}

h1 {
  /* margin-bottom: 80vh; */
  color: white;
}